.Ueberschrift {
  color: #F28482;
  display: inline-block;
  font-weight: bold;
}

.Content {
  display: inline-block;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30PX;
  margin-top: 100px;
  border-radius: 8px;
  background-color: #F5CAC3;
  font-family: Helvetica, sans-serif, Arial ;

}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  
}

#start-button, #stop-button, #Reset {
  background-color: #F7EDE2;
  border-style: hidden;
  border-radius: 4px;
  flex-grow: 1;
  margin: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #F28482;
}

#start-button:hover, #stop-button:hover, #Reset:hover {
  cursor: pointer;
}

#start-button:active, #stop-button:active, #Reset:active {
  background-color: #84A59D;
}

body {
  background-color: #F7EDE2;
  text-align: center;
}

.Timer {
  color: #84A59D;
}